@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 29, 29, 29;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-6 py-3 rounded-full font-bold hover:bg-red-700 transition-colors duration-300;
  }
  .section-padding {
    @apply py-20 px-6 max-w-7xl mx-auto;
  }
}